<!DOCTYPE html>
<html lang="ru-RU">
    <head>
        <meta name="viewport" id="viewport" content="width=device-width">
        <meta charset="UTF-8">
        <link href="{{ url_for('static', filename='./css/main.css') }}" rel="stylesheet" type="text/css" />
        <title>this smile does not exist</title>
    </head>
    <body>
        <div class="main">
            <span class="header">
                <h1 style="margin-bottom: 1px;">T S D N E</h1>
                <h4 style="margin-top: 1px;">this smile does not exist</h4>
                <button class="reload-btn" onClick="window.location.reload();">generate new</button>
            </span>
            <div class="pictures">
                {% for url in pictures %}
                    <img src="{{ url }}" alt="nope">
                {% endfor %}
            </div>
        </div>
    </body>
</html>